body {
	background-color: #37474f;
	padding-top:30px;

}

p {
	color: #ffffff;
}

.container-fluid {
	font-size: 20px;
	text-align: center;
}

.container-list {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
	font-size: 20px;
}

.navbar {
	background-color: #263238;
	border-color: #cfd8dc;
}

#social-buttons button {
 	color: white;
 }

 .btn-twitter { 
    background-color: #00acee;
    border-color: #009ad5; 
}

.btn-facebook {
	background-color: #4868ac;
    border-color: 314776;
}

.list-unstyled {
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
}

.contact {
	background-color: #263238;
	color: #ffffff;
}

h2 {
	color: #ffffff;
}

h1 {
	color: #ffffff;
}

a {
	color: #cfd8dc;
}

a:hover {
	color: #ffffff;
}

