body {
	background-color: #37474f;
	padding-top:30px;

}

.container-fluid {
	font-size: 20px;
	text-align: center;
}

.container-list {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
	font-size: 20px;
}

.navbar {
	background-color: #263238;
	border-color: #cfd8dc;
}

.list-unstyled {
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
}


h2 {
	color: #ffffff;
}

h1 {
	color: #ffffff;
}

a {
	color: #cfd8dc;
}

a:hover {
	color: #ffffff;
}

